.gradient{
    -fx-background-color: linear-gradient(to bottom right,#efefef, #1c1c1c);
}

.white-form{
    -fx-background-color: #fff;
}

.head-label{
    -fx-border-color: #1c1c1c;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom right, #efefef, #1c1c1c);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.login-btn:hover{
    -fx-background-color: #2a2b2c
}

.textfield{
    -fx-background-color: transparent;
    -fx-border-width: .5px;
    -fx-border-color: linear-gradient(to bottom right, #efefef, #1c1c1c);
}

.textfield:focused{
    -fx-border-width: 1px;
}

.create-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-width: 1px;
    -fx-border-color: #fff;
}

.create-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}
